% You will need a valid cloudmade API key
% You'll need a cloudmade account, you can get an account and key here
% http://support.cloudmade.com/answers/api-keys-and-authentication

setting(cloudmade_map_key, 'iamnotavalidkeypasteoneinhere').

