:- setting(google_map_key, atom, 'yourkeygoeshere',
	   'Google map key.  "abcdefg" works for localhost (didn\'t for me -AO)').
:- setting(google_map_script, atom,
       'http://maps.google.com/maps?file=api&v=2&sensor=false',
       'Google map script').