
.ui-menu { overflow: hidden;}
.ui-menu .ui-menu { overflow: visible !important; }
.ui-menu > li { float: left; display: block; width: auto !important; }
.ui-menu > li { margin: 5px 5px !important; padding: 0 0 !important; }
.ui-menu > li > a { float: left; display: block; clear: both; overflow: hidden;}
.ui-menu .ui-menu-icon { margin-top: 0.3em !important;}
.ui-menu .ui-menu .ui-menu li { float: left; display: block;}

/* This makes submenus drop vertically */

.ui-menu .ui-menu > li {clear:both;}
