/*
CSS for the WebLog Demo

Note that nothing should be in here that is needed generally.
Needed parts should go in `weblog.css`.
*/

.abox.header {
  background-color: #8888ff;
  color: #000000;
  margin-bottom: 0px;
}

.abox.content {
  margin-top: 0px;
  border: 1px solid #8888ff;
  margin-bottom: 24px;
}

.action {
  font-weight: bold;
}

.error-kind {
  background-color: LightCoral;
  color: Black;
  font-size: 30px;
  font-weight: bold;
  margin: 5px;
}

.error-context ,
.error-formal {
  background-color: LightGrey;
  margin: 5px;
}


.exit-status-code,
.file,
.max-errors,
.mime,
.program,
.prolog-predicate,
.prolog-type,
.prolog-term {
  font-family: "Share Tech Mono";
}

p {
  margin: 0px;
}

tr.even td,
tr.even {
  background-color: #aaaaff;
}
